# Visual Studio 2015/2017 cache/options directory
/.vs

# Visual Studio Code
/.vscode

# Miscellaneous
/.angular

# Node
/node_modules 

# Compiled output
/dist

# Document files
*.pdf
*.xls
*.xlsx
*.csv 