* {
    font-family: 'OpenSans', 'sans-serif';
}

h1, h2, h3, h4, h5, h6, p, pre, hr, figure, fieldset, ul, ol {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--smoke);
    margin: 0px;
}